In [1]:
import numpy as np
import pandas as pd
import keras

### Import modelu

In [2]:
from keras.models import load_model

In [3]:
model = load_model('model_do_projektu')

In [4]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 3)                 12

 dense_9 (Dense)             (None, 2)                 8

 dense_10 (Dense)            (None, 1)                 3

=================================================================
Total params: 23
Trainable params: 23
Non-trainable params: 0
_________________________________________________________________

### Wgranie bazy danych użytkowników

In [7]:
users = pd.read_excel('user_db.xlsx').drop(columns='Unnamed: 0')

In [8]:
users

,login,password,imię,nazwisko,rola,data_ost_logowania,wprowadzona liczba,wynik
0,google_boss,asdfghjkl,google,boss,admin,19-12-2021,NaN,NaN
1,kot_szprot,1234567890,kot,szprot,user,20-12-2021,NaN,NaN
2,pokemon,pikachu,pikachu,pikachu,moderator,NaN,NaN,NaN

In [9]:
from datetime import datetime, timedelta

def logowanie(users):
    login = input("Login: ")
    password = input("Hasło: ")

    user = users.loc[login == users['login']]
    
    if len(user) == 0:
        print("Nie ma takiego usera!")
    
    if password == str(user['password'].values[0]):
        print("----------------------------")
        print("Witaj {}".format(login))
        users['data_ost_logowania'].loc[login == users['login']] = datetime.now().strftime("%d-%m-%Y")
        users.loc[login == users['login']]
        return users, user
        
    else:
        print("----------------------------")
        print("Nie udało się zalogować... sprawdź login i hasło.")

In [11]:
users, user = logowanie(users)

Login: google_boss
Hasło: asdfghjkl
----------------------------
Witaj google_boss

C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [12]:
user

,login,password,imię,nazwisko,rola,data_ost_logowania,wprowadzona liczba,wynik
0,google_boss,asdfghjkl,google,boss,admin,19-12-2021,NaN,NaN

In [13]:
users

,login,password,imię,nazwisko,rola,data_ost_logowania,wprowadzona liczba,wynik
0,google_boss,asdfghjkl,google,boss,admin,09-01-2022,NaN,NaN
1,kot_szprot,1234567890,kot,szprot,user,20-12-2021,NaN,NaN
2,pokemon,pikachu,pikachu,pikachu,moderator,NaN,NaN,NaN

In [25]:
def dodaj_liczby(array, user, users):
    y_pred = model.predict(array)
    users['wprowadzona liczba'].loc[user.index] = array[0,0]
    users['wynik'].loc[user.index] = y_pred
    return users

In [26]:
array = np.array([3,5,2]).reshape([1,3])
array[0,0]

3

In [27]:
users = dodaj_liczby(array, user, users)

In [28]:
users

,login,password,imię,nazwisko,rola,data_ost_logowania,wprowadzona liczba,wynik
0,google_boss,asdfghjkl,google,boss,admin,09-01-2022,3.0,0.063267
1,kot_szprot,1234567890,kot,szprot,user,20-12-2021,NaN,NaN
2,pokemon,pikachu,pikachu,pikachu,moderator,NaN,NaN,NaN

In [29]:
users.to_excel('user_db.xlsx')